<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EmitterModeKey</key>
	<string>volume</string>
	<key>EmitterShapeKey</key>
	<string>line</string>
	<key>RenderModeKey</key>
	<string>unordered</string>
	<key>alphaRange</key>
	<real>0.0</real>
	<key>alphaSpeed</key>
	<real>0.0</real>
	<key>birthRate</key>
	<real>15</real>
	<key>birthRateLayer</key>
	<real>1</real>
	<key>blueRange</key>
	<real>0.0</real>
	<key>blueSpeed</key>
	<real>0.0</real>
	<key>colorA</key>
	<real>1</real>
	<key>colorB</key>
	<real>1</real>
	<key>colorG</key>
	<real>1</real>
	<key>colorR</key>
	<real>1</real>
	<key>emissionLatitude</key>
	<real>0.0</real>
	<key>emissionLongitude</key>
	<real>0.0</real>
	<key>emissionRange</key>
	<real>0.5</real>
	<key>emitterSizeHeightKey</key>
	<real>0.0</real>
	<key>emitterSizeWidthKey</key>
	<real>320</real>
	<key>greenRange</key>
	<real>0.0</real>
	<key>greenSpeed</key>
	<real>0.0</real>
	<key>imageUrlPathKey</key>
	<string>/Users/mimi/Desktop/DazFlakeIcon@2x.png</string>
	<key>lifetime</key>
	<real>5</real>
	<key>lifetimeLayer</key>
	<real>0.0</real>
	<key>lifetimeRange</key>
	<real>0.5</real>
	<key>name</key>
	<string>default</string>
	<key>redRange</key>
	<real>0.0</real>
	<key>redSpeed</key>
	<real>0.0</real>
	<key>scale</key>
	<real>0.5</real>
	<key>scaleRange</key>
	<real>0.30000001192092896</real>
	<key>scaleSpeed</key>
	<real>0.0</real>
	<key>spin</key>
	<real>0.5</real>
	<key>spinRange</key>
	<real>0.0</real>
	<key>textureName</key>
	<string>DazFlakeIcon@2x.png</string>
	<key>velocity</key>
	<real>30</real>
	<key>velocityRange</key>
	<real>20</real>
	<key>xAcceleration</key>
	<real>0.0</real>
	<key>yAcceleration</key>
	<real>-50</real>
	<key>zAcceleration</key>
	<real>-50</real>
</dict>
</plist>
